---
layout: page
# The Category layout for site items
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <!-- Count how many items are in this category -->
    <span class="lead text-muted ps-2"> {{ site.items | where_exp: "item", "item.categories contains page.title" | size }}</span>
  </h1>

  <ul class="content ps-0">
    <!-- Loop through items and show only the ones in the current category -->
    {% for item in site.items %}
      {% if item.categories contains page.title %}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          <span class="dash flex-grow-1"></span>
          {% include datetime.html date=item.date class='text-muted small text-nowrap' lang=lang %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
