---
layout: nosidebar
refractor: true
---

{% include lang.html %}

{% assign items = site.items | where_exp: 'item', 'item.hidden != true' %}
{% assign item_categories = '' | split: '' %}

<!-- Collect unique top-level categories from items -->
{% for item in items %}
  {% assign first_category = item.categories[0] %}
  {% unless item_categories contains first_category %}
    {% assign item_categories = item_categories | push: first_category %}
  {% endunless %}
{% endfor %}

<!-- Sort categories -->
{% assign item_categories = item_categories | sort %}

<!-- Iterate over all unique top-level item categories -->
{% for category_name in item_categories %}
  {% assign items_of_category = items | where: "categories", category_name %}

  <div class="card categories">
    <!-- Category card -->
    <div
      id="{{ HEAD_PREFIX }}{{ forloop.index }}"
      class="card-header d-flex justify-content-between hide-border-bottom"
    >
      <span class="ms-2">
        <i class="far fa-folder fa-fw"></i>

        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
        <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name }}</a>

        <!-- Count subcategories -->
        {% assign subcategories = '' | split: '' %}
        {% for item in items_of_category %}
          {% assign subcategory = item.categories[1] %}
          {% unless subcategories contains subcategory %}
            {% assign subcategories = subcategories | push: subcategory %}
          {% endunless %}
        {% endfor %}
        {% assign subcategories_count = subcategories | size %}

        <!-- Content count -->
        <span class="text-muted small font-weight-light">
          {% if subcategories_count > 0 %}
            {{ subcategories_count }} 
            {% if subcategories_count > 1 %}
              categories
            {% else %}
              category
            {% endif %}, 
          {% endif %}
          {{ items_of_category | size }} 
          {% if items_of_category.size > 1 %}
            {{ site.data.locales[lang].categories.item_measure.plural | default: "items" }}
          {% else %}
            {{ site.data.locales[lang].categories.item_measure.singular | default: "item" }}
          {% endif %}
        </span>
      </span>

      <!-- Dropdown trigger -->
      {% if subcategories_count > 0 %}
        <a
          href="#subcategories{{ forloop.index }}"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="subcategories{{ forloop.index }}"
          class="category-trigger hide-border-bottom"
        >
          <i class="fas fa-fw fa-angle-down"></i>
        </a>
      {% else %}
        <span class="category-trigger hide-border-bottom disabled">
          <i class="fas fa-fw fa-angle-right"></i>
        </span>
      {% endif %}
    </div>
    <!-- .card-header -->

    <!-- Items in this category -->
    <div id="subcategories{{ forloop.index }}" class="collapse" aria-expanded="false">
      <ul class="list-group">
        {% assign subcategories = '' | split: '' %}
        {% for item in items_of_category %}
          {% assign subcategory = item.categories[1] %}
          {% unless subcategories contains subcategory %}
            {% assign subcategories = subcategories | push: subcategory %}
            <li class="list-group-item">
              <i class="far fa-folder fa-fw"></i>
              <a href="#subcategory{{ forloop.index }}" class="mx-2">{{ subcategory }}</a>
              <ul class="list-group">
                <div id="shop-category">
                  <div id="item-list" class="flex-grow-1 px-xl-1">
                    {% for item in items %}
                      {% if item.categories[1] == subcategory %}
                        <li>
                          <article class="card-wrapper card">
                            <a href="{{ item.url | relative_url }}" class="item-preview row g-0 flex-md-row-reverse">
                              {% assign card_body_col = '12' %}
                              {% if item.image %}
                                {% assign src = item.image.path | default: item.image %}
                                {% unless src contains '//' %}
                                  {% assign src = item.media_subpath | append: '/' | append: src | replace: '//', '/' %}
                                {% endunless %}

                                {% assign alt = item.image.alt | xml_escape | default: 'Preview Image' %}

                                <div class="col-md-5">
                                  <img src="{{ src }}" alt="{{ alt }}">
                                </div>
                                {% assign card_body_col = '7' %}
                              {% endif %}

                              <div class="col-md-{{ card_body_col }}">
                                <div class="card-body d-flex flex-column">
                                  <h1 class="card-title my-2 mt-md-0">{{ item.title }}</h1>
                                  <div class="item-meta flex-grow-1 d-flex align-items-end">
                                    <div class="me-auto">
                                      <i class="fa-solid fa-sterling-sign"></i>
                                      {{ item.price }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </article>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </ul>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- .card -->
{% endfor %}

<!-- Paginator for multiple pages -->
{% if paginator.total_pages > 1 %}
  {% include item-paginator.html %}
{% endif %}
